<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fd70b019-9e01-4801-90ff-d45c3a5b6dff/resourceGroups/trabalhoDM106/providers/Microsoft.Web/sites/trabalhoDM106</ResourceId>
    <ResourceGroup>trabalhoDM106</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trabalhodm106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>trabalhodm106.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>trabalhoDM106</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$trabalhoDM106</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:trabalhodm106.database.windows.net,1433;Initial Catalog=trabalhodm106dbserver;Persist Security Info=True;User ID=thiago;Password=Mcla71b2;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TraballhoDM106.Models.ApplicationDbContext, TraballhoDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TraballhoDM106Context" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:trabalhodm106.database.windows.net,1433;Initial Catalog=trabalhodm106dbserver;Persist Security Info=True;User ID=thiago;Password=Mcla71b2;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TraballhoDM106.Models.TraballhoDM106Context, TraballhoDM106" MigrationConfiguration="TraballhoDM106.Migrations.Configuration, TraballhoDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TraballhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:trabalhodm106.database.windows.net,1433;Initial Catalog=trabalhodm106dbserver;Persist Security Info=True;User ID=thiago;Password=Mcla71b2;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:trabalhodm106.database.windows.net,1433;Initial Catalog=trabalhodm106dbserver;Persist Security Info=True;User ID=thiago;Password=Mcla71b2;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TraballhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:trabalhodm106.database.windows.net,1433;Initial Catalog=trabalhodm106dbserver;Persist Security Info=True;User ID=thiago;Password=Mcla71b2;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>